#main {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#Canvas {
  position: absolute;
  background-color: "#555555";
  cursor: crosshair;
}

.line {
  position: absolute;
  transform-origin: 50% 100%;
  -ms-transform-origin: 50% 100%;
  -webkit-transform-origin: 50% 100%;
}

ul {
  list-style-type: none;
}

.color {
  width: 40px;
  height: 20px;
}

.color:hover {
  border: 1px solid black;
}
